<div id="banner">
<ul class="uk-slideshow" data-uk-slideshow="{autoplay:true, autoplayInterval:5000}">
    <li><%= image_tag('banner-1.jpg') %></li>
    <li><%= image_tag('banner-2.jpg') %></li>
</ul>
</div>
