
<div id="topbanner" class="uk-width-1-1" data-stellar-background-ratio="0.7">
    <div class='uk-container uk-container-center'>
        <h1>LUZ SOLLAR</h1>
        <p>by JanjaDev</p>
        <button class='uk-button uk-button-success'>CONHEÇA NOSSA LINHA</button>

    </div>
</div>



<div class='uk-container uk-container-center' >
    <div class='uk-grid  uk-margin-top' data-uk-grid-match>
        <div class='uk-width-1-1 uk-width-small-1-2 uk-text-right uk-margin-top'>
            
            <h1 class='uk-margin-top'>PRODUTOS</h1>
            <br/>
            <p class="uk-text-large">blabla bla. lero lero lero blabla bla. lero lero lero blabla bla. lero lero lero blabla bla. lero lero lero</p>
            <p class="uk-text-large">blabla bla. lero lero lero</p>
            <br/>
        </div>
        
        <div class='uk-width-1-1 uk-width-small-1-2  uk-text-left'>
            <%= image_tag('destaque1.png') %>
        </div>
    </div>
</div>

<div id="catalogo">
<br/>

<div data-uk-scrollspy="{cls:'uk-animation-fade', delay:700}">

<div class='uk-container uk-container-center uk-margin-top'>
    <div class='uk-grid  uk-margin-top' data-uk-grid-match>
        <div class='uk-width-1-1 uk-width-small-1-2  uk-text-right'>
            <%= image_tag('destaque2.png') %>
        </div>

        
        <div class='uk-width-1-1 uk-width-small-1-2 uk-text-left uk-margin-top uk-text-left'>
            
            <h1 class='uk-margin-top'>CATÁLOGO</h1>
            <br/>
            <p class="uk-text-large">blabla bla. lero lero lero blabla bla. lero lero lero blabla bla. lero lero lero blabla bla. lero lero lero</p>
            <p class="uk-text-large">blabla bla. lero lero lero</p>
            <br/>

        </div>
    </div>
 </div>
   <br/><br/>
</div>

</div>