// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cor1: #43AFA4;
$cor2: #FAB215;
$cor3: #F05F1E;
$cor4: #A6163A;
$cor5: #B41156;
$cor6: #3C6FC0;

$bg3: 'banner3.jpg';

$banner: $bg3;
$banner-large: 'banner3-large.jpg';
$banner-medium: 'banner3-medium.jpg';
$banner-small: 'banner3-small.jpg';

$navbar-color: $cor1;
$navbar-size: 70px;

$text-color: #222;


html, body {
	background-color: #FFF;
	color: $text-color;
}

p, h1, h2, h3, h4 {
	color: $text-color;
}

.uk-navbar, .uk-navbar-toggle, .uk-navbar-brand {
	background-color: $navbar-color;
	height: $navbar-size;
	color: #FFF;
	
}

.my-navbar-on {
	background-color: $cor3;
}

.uk-dropdown-navbar {
	background-color:rgba(255,255,255,0.8);
}

.uk-navbar-brand > img {
	height: $navbar-size - 20px;
	margin: 0 10px;
	width: auto;

}

.uk-navbar-nav > li > a {
	color: white;
	text-transform: uppercase;
	font-family: 'PT Sans Caption', sans-serif;
	letter-spacing: 0.1em;
	font-size: 16px;
	height: $navbar-size;
	line-height: $navbar-size;
	background: none;
	
}


.uk-navbar-nav > li > a:hover {
	background: none;
	color: #222;
	border-radius: 25px;
	
}

.uk-navbar-nav > li.uk-open > a {
	background: none;
	color: #222;
}


.uk-dropdown > .uk-navbar-nav > li > a {
	color: #222;
	width: 100%;
	height: 35px;
	line-height: 35px;
	#background-color: $cor1;
	font-size: 13px;
	background: none;
}

.uk-dropdown > .uk-navbar-nav > li > a:hover {
	color: #222;
	background: none;
	
}



.uk-nav-offcanvas > li > a {
    color: #CCC;
    padding: 20px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}



.logo > img {
	height: 130px;
}

.my-icon-group { 
	font-size: 150%; 
}


.uk-container {
  #max-width: none;
  #padding: 0 50px;
}

#topbanner{
	#background-image: image-url($banner);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	position: relative;
	color: #fff;
	font-size: 24px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.698);
	#text-align: center;

}

#topbanner h1 {
	margin-top: 100px;
	font-size: 54px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.698);
}

#topbanner p {
	margin-top: 50px;
	color: #fff;
}

#topbanner button {
	margin-top: 10px;
	padding: 10px 20px;
	font-size: 18px;
}

#catalogo {
	background-color: #E4EBE8;
}

@media (min-width: 1220px) {
 
  .uk-container {
    #max-width: none;

  }
}

@media screen and (max-width: 479px) {
	 #topbanner{
		background-image: image-url($banner-small);
		height: 275px;
	}

	#topbanner h1 {
		margin-top: 60px;
		font-size: 36px;
	}

	#topbanner p {
		margin-top: 25px;
		font-size: 18px;
	}
}

@media screen and (min-width: 480px) {
	 #topbanner{
		background-image: image-url($banner-medium);
	}
}
@media screen and (min-width: 768px) {
	 #topbanner{
		background-image: image-url($banner-large);
	}
}

@media screen and (min-width: 960px) {
	 #topbanner{
		background-image: image-url($banner);
	}
}

.uk-alert-danger {
	border: 1px solid #D85030;
}





.field_with_errors { display: inline; }