// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cor1: #43AFA4;
$cor2: #FAB215;
$cor3: #F05F1E;
$cor4: #A6163A;
$cor5: #3464B2;
$cor6: #A81A4E;
$cor7: #39B485;

$cor-navside: #FDB823; // nav bar on

$bg3: 'banner3.jpg';

$banner: 'banner-novo.jpg';
$banner-large: 'banner3-large.jpg';
$banner-medium: 'banner3-medium.jpg';
$banner-small: 'banner3-small.jpg';

$navbar-color: $cor1;
$navbar-color-on: $cor-navside;
$navbar-size: 70px;

$footer-size: 150px;

$text-color: #666;


html, body {
	background-color: #FFF;
	color: $text-color;
	height: 100%;
}

p, h1, h2, h3, h4 {
	color: $text-color;
}

h1 {
	padding: 20px 0;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-size; 
}
.page-wrap:after {
  content: "";
  display: block;
}


.shadow {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.75);
}

.uk-navbar {
	position: fixed; 
	z-index: 10; 
	width: 100%;
}

.spacer{padding-top: $navbar-size;}
.uk-navbar, .uk-navbar-toggle, .uk-navbar-brand {
	background-color: $navbar-color;
	height: $navbar-size;
	color: #FFF;
}
.uk-navbar-toggle:hover {
	color: #FFF;
}
.uk-navbar-toggle.my-navbar-on {
	color: black;
}

.my-navbar-on {
	background-color: $cor-navside;
}

.uk-dropdown-navbar {
	background-color:rgba(255,255,255,0.7);
}

.uk-navbar-brand {
	box-shadow: none;
}

.uk-navbar-brand > a > img, .uk-navbar-brand > img {
	height: $navbar-size - 20px;
	width: auto;

}



.uk-navbar-nav > li > a {
	color: white;
	text-transform: uppercase;
	font-family: 'PT Sans Caption', sans-serif;
	letter-spacing: 0.1em;
	font-size: 16px;
	height: $navbar-size;
	line-height: $navbar-size;
	background: none;
	
}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li.uk-open > a {
  background-color: $navbar-color;
}

.my-navbar-on .uk-navbar-nav > li:hover > a,
.my-navbar-on .uk-navbar-nav > li > a:focus,
.my-navbar-on .uk-navbar-nav > li.uk-open > a {
  background-color: $navbar-color-on;
}


.black > li > a {
	color: black;
}




a.uk-navbar-brand.uk-hidden-small { padding: 0 30px 0 0;}

.uk-navbar-nav > li > a:hover {
	background: none;
	color: $text-color;
	border-radius: 25px;
	
}

.black > li > a:hover {
	color: white;
}

.uk-navbar-nav > li.uk-open > a {
	background: none;
	color: $text-color;
}

.on.uk-navbar-nav.on > li.uk-open > a {
	background: none;
	color: white;
}


.uk-dropdown > .uk-navbar-nav > li > a {
	color: $text-color;
	width: 100%;
	height: 35px;
	line-height: 35px;
	#background-color: $cor1;
	font-size: 13px;
	background: none;
}

.uk-dropdown > .uk-navbar-nav > li > a:hover {
	color: #222;
	background: none;
	
}


.uk-nav-offcanvas > li > a {
    color: #CCC;
    padding: 20px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}



.logo > img {
	height: 130px;
}

.my-icon-group { 
	font-size: 150%; 
}


.uk-container {
  #max-width: none;
  #padding: 0 50px;
}


.titulo {
	margin: 30px 0;
}


.card-desc, .card-desc h3  { 
	height: 40px;
	line-height: 40px;
	font-family: 'PT Sans Caption', sans-serif;
	text-transform: uppercase;
}
.card-campos {
	border-top: 1px solid lightgrey;
	height: 25px;
	line-height: 25px;
	font-family: 'PT Sans Caption', sans-serif;
	color: grey;
}

.uk-nav-side {
	background-color: #F1F1F1;
}


.uk-nav-side > li.uk-active > a {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.uk-nav-side > li.hover-1 > a:hover { border-right: 5px solid $cor1;}
.uk-nav-side > li.hover-2 > a:hover { border-right: 5px solid $cor2;}
.uk-nav-side > li.hover-3 > a:hover { border-right: 5px solid $cor3;}
.uk-nav-side > li.hover-4 > a:hover { border-right: 5px solid $cor4;}
.uk-nav-side > li.hover-5 > a:hover { border-right: 5px solid $cor5;}
.uk-nav-side > li.hover-6 > a:hover { border-right: 5px solid $cor6;}
.uk-nav-side > li.hover-7 > a:hover { border-right: 5px solid $cor7;}

.uk-nav-side > li > a {

	padding: 12px;
}

.uk-nav-side {
	text-transform: uppercase;
}


#banner img {
	width: 100%;
	height: auto;
}


.uk-alert-danger {
	border: 1px solid #D85030;
}


.field_with_errors { display: inline; }


.footer {
	background-color: #DCD0BD;
	height: 200px;
}

.footer h1 {
	color: 2C2E33;
}

.footer, .page-wrap:after {
  height: $footer-size; 
}
* {
  margin: 0;
}


.produto-img-destaque { 
	height: auto;
	width: 100%;
	margin-bottom: 40px;
}

.thumbs {
	height: 200px; 
	float: left; 
	line-height: 200px;
	margin-top: 50px;
}



@media (min-width: 1220px) {
 
  .uk-container {
    #max-width: none;

  }
}

@media screen and (max-width: 479px) {
	.banner1-sm, .banner1-lg, .banner1-md { display: none;}
	.banner1-xs { display: inline;}

	.banner2-sm, .banner2-lg, .banner2-md { display: none;}
	.banner2-xs { display: inline;}

	.banner3-sm, .banner3-lg, .banner3-md { display: none;}
	.banner3-xs { display: inline;}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.banner1-xs, .banner1-lg, .banner1-md { display: none;}
	.banner1-sm { display: inline;}

	.banner2-xs, .banner2-lg, .banner2-md { display: none;}
	.banner2-sm { display: inline;}

	.banner3-xs, .banner3-lg, .banner3-md { display: none;}
	.banner3-sm { display: inline;}
}
@media screen and (min-width: 768px) and (max-width: 959px) {
	.banner1-xs, .banner1-sm, .banner1-lg { display: none;}
	.banner1-md { display: inline;}

	.banner2-xs, .banner2-sm, .banner2-lg { display: none;}
	.banner2-md { display: inline;}

	.banner3-xs, .banner3-sm, .banner3-lg { display: none;}
	.banner3-md { display: inline;}
}

@media screen and (min-width: 960px) {
	.banner1-xs, .banner1-sm, .banner1-md { display: none;}
	.banner1-lg { display: inline;}

	.banner2-xs, .banner2-sm, .banner2-md { display: none;}
	.banner2-lg { display: inline;}

	.banner3-xs, .banner3-sm, .banner3-md { display: none;}
	.banner3-lg { display: inline;}
}


@media screen and (min-width: 768px) {
	.thumbs {
		height: 250px; 
		float: left; 
		line-height: 320px;
	}

	.produto-img-destaque { 
		height: 256px;
		width: 100%;
		margin-bottom: 40px;
	}
}